.header {
    position: fixed;
    width: 100%;
    padding: 50px 0;
    z-index: 100;
    transition: 0.5s;
}

.header-scrolled {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px 0;
}

.header-group {
    max-width: 80vw;
    margin: 0 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.header-group a {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    text-decoration: none;
    justify-self: start;
    font-family: "AirbnbCerealBlack";
    font-size: 24px;
    cursor: pointer;
}

.nav-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    justify-self: end;
    grid-gap: 5px;
    max-width: 375px;
}

.nav-group button {
    cursor: pointer;
}

.nav-group a {
    display: grid;
}

a.header-button button {
    outline: none;
    border: none;
    background: none;
    font-family: "AirbnbCerealBlack";
    color: white;
    text-transform: uppercase;
    width: 120px;
}

.btn-lang {
    outline: none;
    border: none;
    width: 44px;
    height: 44px;
    background: white;
    font-family: "AirbnbCerealBlack";
    color: black;
    border-radius: 100%;
}

@media (max-width: 640px) {
    .header {
        padding: 15px 0;
    }
    .nav-group {
        max-width: 100%;
    }
    .header-group {
        max-width: 100%;
        margin: 0 10px;
    }
    .header-group span {
        display: none;
    }
}