@font-face {
    font-family: "AirbnbCerealBlack";
    src: local("AirbnbCerealBlack"), url('../font/AirbnbCerealBlack.ttf') format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "AirbnbCerealBook";
    src: local("AirbnbCerealBook"), url('../font/AirbnbCerealBook.ttf') format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "AirbnbCerealMedium";
    src: local("AirbnbCerealMedium"), url('../font/AirbnbCerealMedium.ttf') format("truetype");
    font-weight: normal;
}

body {
    font-family: 'AirbnbCerealMedium', sans serif;
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
    width: 100%;
    height: 100%;
    margin: 0;
}


/*Boutton sensei
  178 x 50
  Linear gradient : #711FF2 to #0AA4F3
*/

button.sensei-btn {
    outline: none;
    border: none;
    width: 178px;
    height: 50px;
    background: linear-gradient(.25turn, #711FF2, #0AA4F3);
    font-family: "AirbnbCerealBlack";
    color: white;
    border-radius: 8px;
    text-transform: uppercase;
    cursor: pointer;
}

.big-btn {
    width: 343px !important;
    height: 80px !important;
    font-size: 20px !important;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    color: white;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 640px) {
    button.sensei-btn {
        width: 120px;
        height: 40px;
        font-size: 10px;
    }
}